<h1 align="center">A List of All Articles</h1><hr>
<div class="center new-article col-xs-10 col-xs-offset-1">
 <%= link_to "Create New Article", new_article_path, class: "btn btn-sm btn-primary" %>
</div>
 
<div align="center">
    <%= will_paginate %>
</div> 
<%= render 'article', obj: @articles %>
<div align="center">
    <%= will_paginate %>
</div>