<h1>Home Page</h1>

<%= link_to "Alpha Blog", articles_path %> | <%= link_to 'About', about_path %>




<h3>Some Information That Describes our Home</h3>
    <p>Praesent malesuada elementum felis ac interdum. Sed ac arcu eu nulla 
    interdum mollis. Sed sapien velit, commodo et porttitor at, auctor ullamcorper 
    dolor. Curabitur ex leo, rhoncus quis tincidunt a, lacinia ut velit. Quisque 
    sit amet malesuada ligula, id mattis risus</p>
    

    <h3>Wait a Minute... is that BigFoot?!</h3>
    <div id="manbearpig">
        <%= image_tag 'manbearpig.png' %> 
    </div>
    
    <h3>Pretty sure it was... oh well</h3>

    <p>Phasellus faucibus fringilla egestas. Donec consectetur massa ex. Integer 
    pellentesque nisi eget nibh pharetra, ut placerat quam varius. Praesent gravida, 
    massa ac molestie semper, arcu mi dictum nulla, non ultrices eros nulla et 
    lorem. Maecenas tincidunt erat at aliquam maximus</p>
